@model IEnumerable<Product>

<head>
    <link rel="stylesheet" href="~/css/corporateProductIndex.css">
</head>

<h1>All Products</h1>

<div class="centered">
    <div class="new-product">
        <a class="create-new" asp-area="Corporate" asp-controller="Product" asp-action="Create">
            <i class="fa-solid fa-plus fa-2xl"></i>
            Create New Product
        </a>

    </div>
    <div class="filters">
        <a class="filter-button" asp-area="Corporate" asp-controller="Product" asp-action="Index"
            asp-route-outOfStock="1">
            Out of Stock Products
        </a>
    </div>
    <div class="product-wrap">
        @foreach (var product in Model)
        {
            <div class="product">
                <div class="product-info">
                    <div class="product-image">
                        <img src="@(product.ImageURL ?? "/images/default.png")" alt="">
                    </div>
                    <div>
                        <div>@product.ProductID</div>
                        <h3>@product.ProductName</h3>
                        <div>@product.Summary</div>
                        @if (product.DiscountedPrice is not null)
                        {
                            <div>İndirimli Fiyat @(product.DiscountedPrice)</div>
                        }
                        <div>Birim Fiyat : @product.UnitPrice</div>
                        <div>Stoktaki ürün Miktari : @(product.UnitsInStock is not null ? product.UnitsInStock : "N/A")
                        </div>
                        <div>Bedava Kargo: @(product.FreeShip ? "Evet" : "Hayır")</div>
                        <div>@product.RatingCount</div>
                    </div>
                </div>
                <div class="actions">
                    <a class="action explode" asp-area="" asp-controller="Product" asp-action="Get"
                        asp-route-id="@product.ProductID">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        View in
                        Web</a>
                    <a class="action rotate explode" asp-area="Corporate" asp-controller="Product" asp-action="Update"
                        asp-route-id="@product.ProductID">
                        <i class="fa-solid fa-gear"></i>
                        Update</a>
                    <a class="action explode" asp-area="Corporate" asp-controller="Product" asp-action="Delete"
                        asp-route-id="@product.ProductID">
                        <i class="fa-solid fa-explosion"></i>
                        Delete Product</a>
                </div>
            </div>
        }
    </div>
</div>